/*merriweather 300 font
oswald font
http://www.dafont.com/delius.font*/

clearfix {
  clear: both;
}

body {
  margin: 0 150px;

}
header {
  height: 100px;
  margin-top: 30px;
}

header div {
  width: 960;
}

section {
  width: 960px;
}

.icons {
  float: right;
  margin-right: 20px;
}


li {
  display: inline-block;
  margin-top: 10px;
}

.deli {
  margin-left: 15px;
  margin-top: -49px;
  font-size: 32pt;
  font-family: 'Yellowtail', cursive;
}

.under_logo {
  color: #bdb8be;
  margin-left: 25px;
  font-size: 8pt;

}

.grey {
  color: #bdb8be
}

.grey_print {
  color: #bdb8be;
  float: right;
}

.heading {
  margin-left: 30px;
}

.inside_head {
  width: 960px;
}
.bar {
  width: 960px;
  height: 10px;
  background: black;
}

p {
  /*font-family: 'Merriweather', serif;*/
}

.choco_p {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 35pt;
  font-family: 'Oswald';
  font-weight: bold;
}


.pizza {
  width: 960px;
  margin-top: 20px;
}

.list {
  position: relative;
}

.recipe {
  font-family: Delius;
  position: absolute;
  margin-bottom: 30px;
}
